{%- if localization.available_countries.size > 1 -%}
  <localization-form>
    {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
      <div>
        <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
        {%- render 'country-localization', localPosition: 'FooterCountry' -%}
      </div>
    {%- endform -%}
  </localization-form>
{%- endif -%}

{% schema %}
{
  "name": "Country Selector",
  "presets": [
    {
      "name": "Country Selector"
    }
  ]
}
{% endschema %}
